_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
_notes/.obsidian
_notes/Public/.obsidian
_notes/001 Inbox
_notes/200 Private
_notes/300 Templates
.DS_Store
_notes/.DS_Store
.vscode/settings.json
bin/bundle
bin/htmlbeautifier
bin/kramdown
bin/rougify
bin/safe_yaml
.bundle/config
_notes/Concepts/Python.md
